/* https://coolors.co/424242-373737-3d9ae1-ff6978-dce1de */

body {
    background-color: #DCE1DE;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.nav-links {
    display: flex;
    margin: 0px;
    justify-content: center;
    font-weight: 600;
}

.nav-link {
    margin: 20px;
    color: #2B91DE;
}

.nav-link > a, a:visited {
    color: #2B91DE;
}

.nav-link > a:hover {
    color: #205f8f;
}

.about {
    background-color: #60ACE6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text {
    padding: 50px;
}

.about-text > p {
    text-indent: 40px;
    font-size: large;
}

.about-image {
    padding: 20px;
    flex: 0 0 400px;
}

.about-image > img {
    border-radius: 3px;
    max-height: 100vh;
    object-fit: contain;
}

.projects {
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project:nth-child(4n) {
    flex-direction: row-reverse;
}

.project-text {
    padding: 20px;
}

.project-text {
    font-size: large;
}

.project-image {
    padding: 20px;
    flex: 0 0 700px;
}

.project-image > img {
    border-radius: 3px;
    max-height: 100vh;
    object-fit: contain;
}

.project-info {
    display: flex;
}

.project-links {
    padding: 20px;
}

.project-link, .project-link:visited {
    color: #2B91DE;
}

.project-link:hover {
    color: #205f8f;
}

.project-links > ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.project-technologies {
    padding: 20px;
}

.project-technologies > ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

@media (max-width: 1200px) {
    .about {
        flex-direction: column-reverse;
    }
    .project, .project:nth-child(4n) {
        flex-direction: column;
    }
    .project-image {
        padding: 20px;
        flex: 0 0 0;
    }
    .projects {
        padding: 10px;
    }
}