{% extends 'app/base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <p class="h1 pt-2">About Me</p><hr>
  </div>
  <div class="col-md-12">
    <p>Hello There!</p>
    <p class="text-justify">My name is Emerson, I am currently a 23 year old student attending the University of California, Riverside as a Computer Science Major.</p>
    <p class="text-justify">
      Some hobbies of mine include video games, mainly racing simulators, as well as programming miscellaneous side projects. I'm a big fan of robotics, having participated as both a student and mentor on my High School's FRC Team.
      At El Camino College I was elected President of our ACM Chapter, where the other officers and I organized many events such as attending hack-a-thons, code camps and college tours, as well as hosting an annual programming contest.
    </p>
    <p class="text-justify">As for the future, I am interested in pursuing a career related to robotics, embedded systems, or other backend work.</p>
    <p class="text-justify">Some links you might be interested in:
    <ul>
      <li><a href="https://docs.google.com/document/d/1vV8MZycjf3SNijGLWHM6Tyf9U5kk3o07aozugIYXC_8/edit?usp=sharing" target="_blank" rel="noopener noreferrer">Resume (Updated Sept. 2020)</a></li>
      <li><a href="https://github.com/emwjacobson/" target="_blank" rel="noopener noreferrer">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/emwjacobson/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
    </ul></p>
  </div>
</div>



{% endblock content %}