{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>
  {% block title %}
  Emerson Jacobson
  {% endblock title %}
  </title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>

<nav>
  <div class="nav-links">
    <div class="nav-link"><a href="{% static 'EmersonJacobsonResume.pdf' %}">Resume</a></div>
    <div class="nav-link"><a href="https://github.com/emwjacobson/">Github</a></div>
    <div class="nav-link"><a href="https://www.linkedin.com/in/emwjacobson/">LinkedIn</a></div>
  </div>
</nav>

<main>
  <section class="about">
    <div class="about-text">
      <p style="text-indent: 0px;">Hello There!</p>

      <p>
        My name is Emerson. I am currently a 23 year old student attending the University of California, Riverside.
        I am studying Computer Science, with plans to graduate with a Bachelors degree Spring of 2022.
        I transferred to UCR from El Camino College where I earned an Associates in Mathematics.
      </p>
      <p>
        Some hobbies of mine include video games, mainly racing simulators, as well as programming miscellaneous side projects. I'm a big fan of robotics, having participated as both a student and mentor on my High School's FRC Team. At El Camino College I was elected President of our ACM Chapter, where the other officers and I organized many events such as attending hack-a-thons, code camps and college tours. We also hosted an annual programming contest.
      </p>
      <p>
        As for the future, I am interested in pursuing a career related to robotics, embedded systems, or other backend work.
      </p>

    </div>
    <div class="about-image">
      <img src="{% static 'portrait.jpg' %}" alt="Portrait">
    </div>
  </section>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

</body>
</html>
