{% load static %}
<!-- Graphic design isn't my strong point. -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>
  {% block title %}
  Emerson Jacobson
  {% endblock title %}
  </title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>

<nav>
  <div class="nav-links">
    <div class="nav-link">
      <a href="{% url 'index' %}">Home</a>
    </div>
    <div class="nav-link">
      <a href="{% url 'research' %}">Research</a>
    </div>
    <div class="nav-link">
      <a href="{% url 'education' %}">Education</a>
    </div>
    <div class="nav-link">
      <a href="{% static 'EmersonJacobsonResume.pdf' %}">Resume</a>
    </div>
    <div class="nav-link">
      <a href="https://github.com/emwjacobson/">Github</a>
    </div>
    <div class="nav-link">
      <a href="https://www.linkedin.com/in/emwjacobson/">LinkedIn</a>
    </div>
  </div>
</nav>

{% block content %}
{% endblock content %}

</body>
</html>
