{% load static %}
<!-- Graphic design isn't my strong point, I apologize. -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>
  {% block title %}
  Emerson Jacobson
  {% endblock title %}
  </title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>

<nav>
  <div class="nav-links">
    <div class="nav-link"><a href="{% static 'EmersonJacobsonResume.pdf' %}">Resume</a></div>
    <div class="nav-link"><a href="https://github.com/emwjacobson/">Github</a></div>
    <div class="nav-link"><a href="https://www.linkedin.com/in/emwjacobson/">LinkedIn</a></div>
  </div>
</nav>

{% block content %}
{% endblock content %}

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>

</body>
</html>
