{% extends 'app/base.html' %}
{% load static %}

{% block title %}
Emerson Jacobson - Education
{% endblock title %}

{% block content %}
<main>
  <section class="school">
    <div class="banner">
      <img class="banner-image" src='{% static 'ucr.jpg' %}' loading="lazy"/>
      <div class="banner-text">University of California, Riverside</div>
    </div>
    <div class="text">
      <p>
        At UCR, I am working towards a Bachelors degree in Computer Science. I transferred to UCR in the fall of
        2021, and am planning to graduate in the Spring of 2022. As of Fall 2021, I have achieved a 4.0 GPA.
      </p>

      <p>
        Below is a list of courses that I have taken and the grades I have gotten in them, additionally I have included
        a list of courses that I am planning to take in the future.
      </p>

      <div class="courses">
        <div class="course-list">
          <h4>Courses Completed</h4>
          <ul>
            <li>CS 061 - Machine Organization and Assembly Language Programming - A</li>
            <li>CS 100 - Software Construction - A</li>
            <li>CS 111 - Discrete Structures - A</li>
            <li>CS 141 - Intermediate Data Structures and Algorithms - A</li>
            <li>CS 150 - Automata Theory and Formal Languages - A+</li>
            <li>CS 152 - Compiler Design - A</li>
            <li>CS 120A - Logic Design - A+</li>
            <li>ENGR 180W - Technical Communications - A</li>
            <li>STAT 155 - Probability and Statistics - A+</li>
          </ul>
        </div>
        <div class="course-list">
          <h4>Future Courses</h4>
          <ul>
            <li>CS 120B - Introduction to Embedded Systems</li>
            <li>CS 161 - Design and Architecture of Computer Systems</li>
            <li>CS 153 - Design of Operating Systems</li>
            <li>CS 183 - UNIX System Administration</li>
            <li>CS 168 - Introduction to Very Large Integration Design</li>
            <li>CS 166 - Database Management Systems</li>
            <li>CS 179J - Project in Computer Architecture and Embedded Systems</li>
            <li>CS 147 - GPU Computing and Programming</li>
            <li>CS 122A - Intermediate Embedded and Real-Time Systems</li>
            <li>CS 170 - Introduction to AI</li>
            <li>CS 171 - Introduction Machine Learning and Data Mining</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="school">
    <div class="banner">
      <img class="banner-image" src='{% static 'ecc.jpg' %}' loading="lazy"/>
      <div class="banner-text">El Camino College</div>
    </div>
    <div class="text">
      <p>
        I attended El Camino College to complete General Education requirements before transferring to UCR.
        While I was there, I completed all but one course in the Computer Science series, achieving an A in each one.
      </p>

      <p>
        While at El Camino, I was elected President of the schools ACM Chapter. While in office, the other offiers and
        I organized events such as attending Hack-a-thons, code camps, and college tours. We also hosted an annual
        programming contest.
      </p>

      <div class="courses">
        <div class="course-list">
          <h4>Courses Completed</h4>
          <ul>
            <li>CS 14 - Computer Programming in Python - A</li>
            <li>CS 12 - Programming using PHP, JS, XHTML - A</li>
            <li>MATH 270 - Advanced Differential Equations and Linear Algebra - A</li>
            <li>CS 23 - Advanced Java Programming / Android OS - A</li>
            <li>MATH 210 - Intro to Discrete Structures - B</li>
            <li>CS 30 - Advanced Programming in C++ - A</li>
            <li>CS 16 - Assembly Language (x86) - A</li>
            <li>CS 3 - Computer Programming in Java - A</li>
            <li>CS 2 - Intro to Data Structures - A</li>
            <li>MATH 220 - Multi-Variable Calculus - A</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock content %}